<h1>User Details</h1>
<uib-tabset active='active'>
  <uib-tab heading='Google'>
    <ng-include src="'app/components/user-detail/tabs/google.tpl.html'"></ng-include>
  </uib-tab>
  <!--  <uib-tab heading='Address'>
      <address-list type="'Delivery'" on-change-address='vm.onChangeAddress'></address-list>
      <address-list type="'Billing'" on-change-address='vm.onChangeAddress'></address-list>
    </uib-tab>-->
</uib-tabset>