<div id='{{name}}' class='modal fade' tabindex='-1' role='dialog' aria-labelledby='{{name}}Label' ng-show='showModal' ng-style='{display: displayStyle}' ng-class='modalFadeIn'>
    <div class='modal-dialog' role='document'>
        <div class='modal-content'>
            <div class='modal-header'>
                <button type='button' class='close' data-dismiss='modal' aria-label='Close' ng-click='toggleQuickbuyModal()'><span aria-hidden='true'>&times;</span></button>
                <h4 class='modal-title' id='{{name}}Label'>Quickbuy Item</h4>
            </div>
            <div class='modal-body'>
                <uib-tabset active='active'>
                    <uib-tab index='0' heading='Delivery'>
                        <uib-tab-heading>Delivery</uib-tab-heading>
                        <address-list type="'Delivery'" addresses='user.deliveryAddresses'></address-list>
                    </uib-tab>
                    <uib-tab index='1' heading='Billing'>
                        <uib-tab-heading>Billing</uib-tab-heading>
                        <address-list type="'Delivery'" addresses='user.billingAddresses'></address-list>
                    </uib-tab>
                </uib-tabset>
            </div>
            <div class='modal-footer'>
                <button type='button' class='btn btn-default' data-dismiss='modal' ng-click='toggleQuickbuyModal()'>Close</button>
            </div>
        </div>
    </div>
</div>
