<p>
  Name: <span class='pull-right'>{{vm.user.google.name}}</span><br>
  Email: <span class='pull-right'>{{vm.user.google.email}}</span><br>
  GoogleID: <span class='pull-right'>{{vm.user.google.uid}}</span>
</p>