<a href='#' class='dropdown-toggle' id='single-button'
   uib-dropdown-toggle
   data-toggle='dropdown' role='button'
   aria-haspopup='true' aria-expanded='false'
>{{vm.user.google.email}}<span class='caret'></span></a>

<ul class='dropdown-menu' uib-dropdown-menu role='menu'
    aria-labelledby='single-button'>
  <li class='dropdown-header'>{{vm.user.google.name}}</li>
  <li><a ui-sref='auth.user' title='User Details'>User Details</a></li>
  <li role='separator' class='divider'></li>
  <li><a href='#' ng-click='vm.logout()'>Logout</a></li>
</ul>