<button type='button' class='navbar-toggle collapsed'
        data-toggle='collapse' data-target='#{{vm.navbar.id}}'
        aria-expanded='false' aria-controls='{{vm.navbar.id}}'>
  <span class='sr-only'>Toggle navigation</span>
  <span class='icon-bar'></span>
  <span class='icon-bar'></span>
  <span class='icon-bar'></span>
</button>
<a class='navbar-brand' href='/'>AngularDemo</a>