
<nav class='navbar navbar-default navbar-fixed-top'>
  <div class='container'>
    <div class='navbar-header'
         ng-include="'app/directives/navigation/header.tpl.html'"></div>

    <div id='{{vm.navbar.id}}' class='navbar-collapse collapse'>
      <ul class='nav navbar-nav'>
        <li ng-repeat='navLink in vm.navbar.links'>
          <a ui-sref='{{navLink.sref}}' title='{{navLink.title}}'
             ui-sref-active="active">{{navLink.title}}</a>
        </li>
      </ul>

      <ul class='nav navbar-nav navbar-right'>
        <li>
          <div ng-if='vm.user.authenticated === false'>
            <button g-login type='button' class='btn btn-default'
                    style='margin-top: 8px;'>Google Login
            </button>
          </div>
        </li>

        <li ng-if='vm.user.authenticated === true'
            ng-include="'app/directives/navigation/dropdown.tpl.html'"
            class='dropdown' uib-dropdown keyboard-nav>
        </li>
      </ul>
    </div>
  </div>
</nav>