<div class='form-group'>
  <label for='{{::$id}}'>{{type}} List <small>({{vm.addresses.data.length}}x)</small></label>
  <select
    ng-change='onChangeAddress()(vm.addresses.selected)'
    class='form-control'
    id='{{::$id}}'
    ng-model='vm.addresses.selected'
    ng-options='address as address.label for address in vm.addresses.data track by address.id'
    title='{{type}}'>
  </select>
</div>