<div class='container-fluid'>
  <div class='row'>
    <div class='col-md-2'>
      <p>
        Search:<input ng-model='vm.query' title='Search'/>
        Sort by:
        <select ng-model='vm.orderProp' title='Order'>
          <option value='name'>Alphabetical</option>
          <option value='ID'>id</option>
        </select>
      </p>
    </div>
    <div class='col-md-10'>
      <ul class='phones'>
        <li ng-repeat='n in vm.news | filter:vm.query | orderBy:vm.orderProp' class='thumbnail phone-list-item'>
          <p>
            <strong>{{n.title}}</strong><br>
            <a href='{{n.url}}' title='{{n.title}}' target='_blank'>more...</a><br>
            {{vm.transformDate(n.date)}}
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>
