<div class='container-fluid'>
  <div class='row'>
    <quickbuy></quickbuy>
  </div>
  <div class='row'>
    <div class='col-md-2'>
      <p>
        Search:<input ng-model='vm.query' title='Search'/>
        Sort by:
        <select ng-model='vm.orderProp' title='Order'>
          <option value='name'>Alphabetical</option>
          <option value='age'>Newest</option>
        </select>
      </p>
    </div>
    <div class='col-md-10'>
      <ul class='phones'>
        <li ng-repeat='phone in vm.phones | filter:vm.query | orderBy:vm.orderProp' class='thumbnail phone-list-item'>
          <a href='/phones/{{phone.id}}' class='thumb'>
            <img ng-src='{{phone.imageUrl}}' alt='{{phone.name}}' />
          </a>
          <button type='button' class='btn btn-sm btn-primary' ng-click='toggleQuickbuyModal()'>Quickbuy</button>
          <a href='/phones/{{phone.id}}'>{{phone.name}}</a>
          <p>{{phone.snippet}}</p>
        </li>
      </ul>
    </div>
  </div>
</div>
